.logout-button {
  background-color: #6600cc;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 14px;
  font-size: 14px;
  width: 100%;
  font-weight: 600;
  cursor: pointer;
  max-width: 300px;
}